<md-content ng-hide="history.length > 0" layout-padding>
    <h4>Loading ...</h4>
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</md-content>

<md-list ng-repeat="h in history" layout-align="center center">
    <md-list-item class="md-2-line">
        <div class="md-list-item-text">
            <h3>{{ h.url }}</h3>
            <p>{{ h.visited }}</p>
        </div>
    </md-list-item>
</md-list>